:root {
    --Light: #47a820;
    --Lighther: #4ab81e;
    --light:#dae6ee;
    --dark:#1d1a21;
}

html {
    scroll-behavior: smooth; 
}

*,
*::before,
*::after {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    font-size: 22px;
    color: var(--dark);
    margin: 20px 0;
}

.wrapper, header, footer, main{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.wrapper{
    min-width: 320px;
}

.header{
    width: 100vw;
    background-color: var(--dark);
    margin: 0 auto;
    overflow: hidden;
}

.header__nav{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    min-height: 30px;
    position: relative;
}

.burger{
    display: none;
}

.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.header__item{
    font-size: 18px;
    color: var(--light);
}

.header__item:hover{
    text-decoration: underline;
}

.main{
    display: flex;
    justify-content: center;
}

.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    background-color: var(--light);
    padding: 10px;
    flex-basis: 30%;
}

.aside__title{
    text-align: center;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(assets/IMG/ava.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar img{
    display: none;
}

.contacts{
    margin: 20px auto;
    align-self: flex-start;
    padding: 0 20px;
}

.contacts__link{
    display: block;
    position: relative;
    font-size: 18px;
    color: var(--dark);
    margin: 10px 0;
}

.contacts__link:hover{
    text-decoration: underline;
}

.contacts__link:before{
    content: "";
    background-image: url(assets/IMG/icons8-github-64.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: -25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.contacts__link1:before{
    background-image: url(assets/IMG/icons8-почта-50.png);
}
.contacts__link2:before{
    background-image: url(assets/IMG/icons8-github-64.png);
}
.contacts__link3:before{
    background-image: url(assets/IMG/icons8-vk-в-круге-50.png);
}
.contacts__link4:before{
    background-image: url(assets/IMG/icons8-маркер-60.png);
}

.course{
    margin: 10px auto;
    align-self: flex-start;
    padding: 0 10px;
}

.course__item{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

.course__item:first-child{
    text-transform: lowercase;
}

.course__item::first-letter{
    text-transform: uppercase;
}

.course__name{
    font-size: 16px;
    margin: 5px 0;
    color: var(--dark);
}

.course__year{
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    padding: 10px;
    color: var(--light);
    border-radius: 4px;
    background-color: var(--Light);
    transition:  background-color .5s linear;
}

.course__year:hover{
    background-color: var(--Lighther);
}


.skils{
    align-self: flex-start;
    padding: 0 10px;

}

.list__skils{
    display: flex;
    flex-direction: column;
}

.skils__item{
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    padding: 10px;
    color: var(--light);
    border-radius: 4px;
    background-color: var(--Light);
} 

.section{
    padding:10px;
}

.main-title{
    font-size: 60px;
    font-weight: 500;
    color: var(--dark);
    margin: 20px 0;
}

.main-title span{
    font-family: Lobster, Tahoma, Geneva, Verdana, sans-serif;
    color: var(--Light);
}

.about-title{
    font-size: 22px;
    margin-bottom: 40px;
}

.about .text{
    font-size: 18px;
}

.experience .text{
    font-size: 18px;
    margin-bottom: 10px;
}

.list_works{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.experience li{
    transition: all linear .4s;
}
.experience li:hover{
    transform: scale(1.1);
}
.experience a{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: var(--light);
    border-radius: 2px;
    background-color: var(--Light);
    transition: all .3s linear;
    padding: 10px;
    margin-bottom: 20px;
}
.experience a:hover{
    text-decoration: underline;
}

.code{
    width: 90%;
    margin: 20px auto;
    align-self: flex-start;
    padding: 20px;
    background-color: var(--light);
}

.code__title{
    text-align: center;
}

.code__subtitle{
    font-size: 18px;
}

.code .text{
    font-size: 18px;
    margin-bottom: 10px;
}

.pre{
    font-size: 16px;
    color: var(--light);
    background-color: var(--dark);
}
.pre .green{
    color:#549ffb;
}
.pre .yellow{
    color:#b3e18b;
}
.pre .purple{
    color:#b879ac;
}
.pre .blue{
    color:#4464ce;
}

.languages{
    margin: 20px auto;
    align-self: flex-start;
    padding: 10px;
}

.languages__list dt{
    font-size: 18px;
    font-weight: 600;
    color: var(--light);
    border-radius: 2px;
    background-color: var(--Light);
    padding: 10px;
}

.list-languages dd{
    font-size: 16px;
    color: var(--dark);
    background-color: var(--light);
    padding: 10px;
}

.header{
    width: 100vw;
    background-color: var(--dark);
    margin: 0 auto;
    overflow: hidden;
}

.footer{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    background-color: var(--light);
}

.footer-inner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer-inner li{
    font-size: 18px;
    color: var(--dark);
}


@media screen and (max-width:767px) {

.burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 30px;
    position: relative;
    z-index: 50;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10%;
    transition: transform linear 1s;
}

.burger__active{
    transform: rotateZ(90deg);
}

.burger__item{
    width: 30px;
    height: 2px;
    background-color: var(--light);
}

.header__menu{
    flex-direction: column;
    margin: 0;
    transition: height .3s linear;
}
.header-nav li{
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
}
main{
    flex-direction: column;
}
aside{
    margin-right: 0;
}
.contants{
    align-self: center;
}
.courses{
    align-self: center;
}
.skils{
    align-self: center;
} 
 .list_works{
    flex-direction: column;
} 
.footer-inner{
    flex-direction: column;
}
}